@charset "UTF-8";

body{
    background-image: url("imagens/Picture2.jpg");
}

div.quadrado {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgray;
    width: 300px;
    height: 300px;
}

div#Q1{
    background-color:skyblue;
}

div#Q2{
    background-image: linear-gradient(to bottom, yellow, blue);
}

div#Q3{
    background-image: url("imagens/Picture2.jpg");
}