body{
    background-image: url("images/yoshi.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center ;
   }

.texto {
    color: white;
}

h1{
    color: red;
}